.player {
  overflow: hidden;
  width: 300px;
  display: flex;
  align-items: center;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;

  img {
    margin-left: 10px;
    width: 60px;
    height: 60px;
  }

  span {
    font-size: 24px;
    margin-left: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.player-active {
  background-color: aqua !important;
}
