<div class="field">
  <div class="card-stack">
    <img
      [ngStyle]="{ 'right.px': i * 5 }"
      *ngFor="let c of [0, 1, 2, 3]; let i = index"
      src="/assets/img/cards/card_cover.png"
      alt="card_cover"
    />
    <img
      (click)="takeCard()"
      class=""
      style="right: 25px"
      src="/assets/img/cards/card_cover.png"
    />

    <img
      (click)="takeCard()"
      *ngIf="pickCardAnimation"
      class="pick-card"
      style="right: 25px"
      src="/assets/img/cards/ace_1.png"
    />
  </div>
</div>
