<app-player
  *ngFor="let player of game.players; let i = index"
  [ngStyle]="{ 'top.px': 100 + i * 120 }"
  [name]="player"
  class="player-position"
></app-player>

<div class="field">
  <div class="card-stack">
    <!--Card stack-->
    <img
      [ngStyle]="{ 'right.px': i * 5 }"
      *ngFor="let c of [0, 1, 2, 3]; let i = index"
      src="/assets/img/cards/card_cover.png"
      alt="card_cover"
    />
    <img
      (click)="takeCard()"
      class=""
      style="right: 25px"
      src="/assets/img/cards/card_cover.png"
    />
    <!--Stack for played cards-->
    <img
      *ngFor="let card of game.playedCards"
      class="played-card"
      src="/assets/img/cards/{{ card }}.png"
    />
    <!--Currect card (Animation)-->
    <img
      (click)="takeCard()"
      *ngIf="pickCardAnimation"
      class="pick-card"
      style="right: 25px"
      src="/assets/img/cards/{{ currentCard }}.png"
    />
  </div>
</div>

<button mat-fab class="btn-add">
  <mat-icon>add</mat-icon>
</button>
